# Python 연습문제

In [2]:
# 문제1
print ("Hello World")

Hello World

In [3]:
# 문제2
print ("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 문제3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 문제4
print ("C:\Windows")

C:\Windows

In [6]:
# 문제5
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n은 줄바꿈이고 \t 탭의 역할을 한다. \t이 두번 입력되었으므로 탭이 두번 적용되었다.무무ㅈ

안녕하세요.
만나서		반갑습니다.

In [9]:
# 문제6
print ("오늘은", "일요일")

# 쉼표로 구분해 주어서 두 값이 따로 출력된다.

오늘은 일요일

In [8]:
# 문제7
print ("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [10]:
# 문제8
print ('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [11]:
# 문제9
print("first", end="")
print("second")

firstsecond

In [12]:
# 문제10
print (5/3)

1.6666666666666667

In [13]:
# 문제11
x = 50000
print (x*10,"원")

500000 원

In [14]:
# 문제12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.9

print (시가총액, type(시가총액))
print (현재가, type(현재가))
print (PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.9 <class 'float'>

In [17]:
# 문제13
s = "hello"
t = "python"

print (f"{s}! {t}")

hello! python

In [18]:
# 문제14
print ( 2 + 2 * 3 )
# 사칙연산에서는 곱하기가 우선이므로 8이라는 결과가 나온다.

8

In [19]:
# 문제15
a = "132"
print (type(a))

<class 'str'>

In [22]:
# 문제16
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [24]:
# 문제17
num = 100
num_str = str(num)
print (num_str, type(num_str))

100 <class 'str'>

In [25]:
# 문제18
flt_str = "15.79"
flt_float = float(flt_str)
print (flt_float, type(flt_float))

15.79 <class 'float'>

In [26]:
# 문제19
year = "2020"
year_int = int(year)
print (year_int+1)

2021

In [28]:
# 문제20
month = 48584
inst = 36
print (month*inst)

1749024

In [33]:
# 문제21
letter = 'python'
print(letter[0], letter[2])

p t

In [35]:
# 문제22
license_plate = "24가 2210"
print (license_plate[-4:])

2210

In [36]:
# 문제23
string = "홀짝홀짝홀짝"
print (string[0:5:2])

홀홀홀

In [38]:
# 문제24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [39]:
# 문제25
phone_number = "010-1111-2222"
print (phone_number[0:3], phone_number[4:8], phone_number[-4:])

010 1111 2222

In [41]:
# 문제26
phone_number1 = "010"
phone_number2 = "1111"
phone_number3 = "2222"
print (phone_number1, end = '')
print (phone_number2, end = '')
print (phone_number3)

01011112222

In [44]:
# 문제27
url = "http://sharebook.kr"
print (url[-2:])

kr

In [43]:
# 문제28
lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열은 수정이 안돼서 오류가 발생한다.

TypeError: 'str' object does not support item assignment

In [46]:
# 문제29
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print (string)

Abcdfe2A354A32A

In [47]:
# 문제30
string = 'abcd'
string.replace('b', 'B')
print(string)
# replace 함수에 대한 변수를 지정하지 않았으므로 기존의 문자열이 출력된다.

abcd

In [1]:
# 문제31
a = "3"
b = "4"
print(a + b)
# 정수가 아니라서 더해지지 않고 나란히 출력된다.

34

In [2]:
# 문제32
print("Hi" * 3)
# Hi가 연달아 3번 출력된다.

HiHiHi

In [3]:
# 문제33
print ("-"*80)

--------------------------------------------------------------------------------

In [5]:
# 문제34
t1 = 'python'
t2 = 'java'
print ((t1 + t2)*4)

pythonjavapythonjavapythonjavapythonjava

In [9]:
# 문제35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [8]:
# 문제36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print ("이름:{} 나이:{}".format(name1, age1))
print ("이름:{} 나이:{}".format(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [13]:
# 문제37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print (f"이름:{name1} 나이:{age1}")
print (f"이름:{name2} 나이:{age2}")

이름:김민수 나이:10
이름:이철희 나이:13

In [15]:
# 문제38
상장주식수 = "5,969,782,550"
상장주식수_replace = 상장주식수.replace(",","")
상장주식수_int = int(상장주식수_replace)
print (상장주식수_int)

5969782550

In [19]:
# 문제39
분기 = "2020/03(E) (IFRS연결)"
print (분기[0:7])

2020/03

In [24]:
# 문제40
data = "   삼성전자    "
data_replace = data.replace("   ","")
print (data._replace)

AttributeError: 'str' object has no attribute '_replace'

In [25]:
# 문제40 정답
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [1]:
# 문제41
ticker = "btc_krw"
print (ticker.upper())

BTC_KRW

In [5]:
# 문제42
ticker = "BTC_KRW"
print (ticker.lower())

btc_krw

In [6]:
# 문제43
x = 'hello'
print (x.replace('h','H'))

Hello

In [10]:
# 문제43 정답
a = "hello"
a = a.capitalize()
print (a)

Hello

In [17]:
# 문제44
file_name = "보고서.xlsx"
file = file_name.endswith(-4)
print (file)

TypeError: endswith first arg must be str or a tuple of str, not int

In [16]:
# 문제44 정답
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [19]:
# 문제45
file_name = "보고서.xlsx"
file_name.endswith("xlsx"or"xls")

True

In [21]:
# 문제46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [22]:
# 문제47
a = "hello world"
a.split(" ")
print (a)

hello world

In [23]:
# 문제47 정답
a = "hello world"
a.split()

['hello', 'world']

In [25]:
# 문제48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [26]:
# 문제49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [27]:
# 문제50
data = "039490     "
data.rsplit()

['039490']

In [29]:
# 문제51
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
print (movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [30]:
# 문제52
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
movie_rank.append("배트맨")
print (movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [39]:
# 문제53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.append(1,"배트맨")
print (movie_rank)

TypeError: append() takes exactly one argument (2 given)

In [ ]:
# 문제53 정답
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

In [35]:
# 문제54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print (movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [40]:
# 문제55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove(2:)
print (movie_rank)

SyntaxError: invalid syntax (<ipython-input-40-02f402d08c8d>, line 3)

In [42]:
# 문제55 정답
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [43]:
# 문제56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print (langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [56]:
# 문제57
nums = [1, 2, 3, 4, 5, 6, 7]
print ("max: ",max(nums))
print ("min: ",min(nums))

max:  7
min:  1

In [57]:
# 문제58
nums = [1, 2, 3, 4, 5]
print (sum(nums))

15

In [58]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print (len(cook))

12

In [60]:
nums = [1, 2, 3, 4, 5]
print (mean(nums))

NameError: name 'means' is not defined