# Escape from Coma

In [1]:
# 변수 생성
name = '문준형'
eng_name = 'Jaden'
city = 'Seoul'

print (name,'\n', eng_name, '\n', city)
print (name, '\t', eng_name, '\t', city)

문준형
 Jaden
 Seoul
문준형 	 Jaden 	 Seoul

In [2]:
print (1)
print ('1')

1
1

In [3]:
# 이어쓰기

print ('Seoul', end=" ")
print ('City')

Seoul City

In [4]:
# 반올림

print ('%.3f' % 1.2654)
print ('%.4f' % 1.246448654)

pi = 4.262515
print ('%.3f' % pi)

1.265
1.2464
4.263

In [5]:
# 문자 고급 출력

when = 10
where = "헬스장"
why = "운동하러"

print ("나는 %d시에 %s %s으로 돌아간다"%(when, why, where))
print ("나는 오전 {}시에 {} {}에 가려 했지만 못갔다".format(when, why, where))
print (f"나는 오후 {when}시에 {why} {where}에 가는 사람이 존경스럽다")

나는 10시에 운동하러 헬스장으로 돌아간다
나는 오전 10시에 운동하러 헬스장에 가려 했지만 못갔다
나는 오후 10시에 운동하러 헬스장에 가는 사람이 존경스럽다

In [6]:
# 사칙연산
a = 10
b = 2

print (a + b)

12

In [7]:
# 구구단 만들기

num = int(input())

print (f"{num}단")
print (f'{num} x 1 = {num*1}')
print (f'{num} x 2 = {num*2}')
print (f'{num} x 3 = {num*3}')
print (f'{num} x 4 = {num*4}')
print (f'{num} x 5 = {num*5}')
print (f'{num} x 6 = {num*6}')
print (f'{num} x 7 = {num*7}')
print (f'{num} x 8 = {num*8}')
print (f'{num} x 9 = {num*9}')

8
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [10]:
# 리스트 활용

a = [8, 11, "생일"]
b = [12, 25, "크리스마스"]

print (a)
print (b)

[8, 11, '생일']
[12, 25, '크리스마스']

In [14]:
# 집합

set_a = {1,1,2,2,3,3,3}
set_a.add(4)
print (set_a)

{1, 2, 3, 4}

In [20]:
a = [1, 2, 3]
b = 100
c = 100.0

# 각 값의 주소값 구하기
print (id(a))
print (id(b))
print (id(c))

139939235412000
94169746677600
139939295246192

In [22]:
# 비교연산자 is

d = a

print (a is b)
print (a is c)
print (b is c)
print (a is d)

False
False
False
True

In [23]:
print (id(a))
print (id(d))

139939235412000
139939235412000

In [25]:
# if 문

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

if sum(list_1) < 100:
    print (sum(list_1))
    print ("100보다 작음")

55
100보다 작음

In [26]:
if sum(list_1) > 100:
    print ("100보다 작음")
elif sum(list_1) > 70:
    print ("이것마저 안됨")
else:
    print ("다 틀렸넹")

다 틀렸넹

In [32]:
list_3 = [1,2,3,4,5,6,7,8,9]

if len(list_3) < 10:
    print("list_3:",list_3)

list_3: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list_3 = {1,2,3,4,5,6,7,8,9}

if type(a) == set:
    print ("type of a:set")

In [ ]:
# 반복문 while
A = 0

while A == 0:
    print (1,2,3)

In [35]:
list_1 = [1,2,3,4,5,6,7,8,9]

while len(list_1) > 1:
    print (list_1.pop())
    
print (list_1)

9
8
7
6
5
4
3
2
[1]

In [37]:
n = 10

while n > 0:
    print ("oh my....")
    break

oh my....

In [38]:
n = 10

while n > 0:
    print ("n:", n)
    n = n-1
    
    if n == 5:
        break

n: 10
n: 9
n: 8
n: 7
n: 6